@model IEnumerable<MyShoppingApp.Models.Product>;
<h1>My Products</h1>
<hr/>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Category</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Description</td>
				<td>@item.Category</td>
			</tr>
		}
	</tbody>
</table>
<a asp-controller="Product" asp-action="AddProduct" class=" btn btn-outline-primary">Back to Add Products</a>